* {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

html {
  scroll-behavior: smooth;
}

.navbar, .header, .rules, .faq, .discord_info {
  padding: 1%;
  border-radius: 5px;
}

.navbar {
  opacity: 90%;
  animation: fadeIn ease 2s;
  color: #FFFFFF;
  background-color: #141616;
}

.header {
  opacity: 90%;
  animation: fadeIn ease 2s;
  color: #FFFFFF;
  background-color: #141616;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.90;
  }
}

li {
  display: inline;
  font-family: monospace;
  color: white;
  padding-left: 0.6%;
  padding-right: 0.6%;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: white;
}

h3, h4, a, p, samp {
  font-family: 'Raleway', monospace;
  color: white;
}

.rules {
  animation: fadeIn ease 2s;
  opacity: 90%;
  background-color: #141616;
  line-height: 0.9;
}

.faq {
  opacity: 90%;
  animation: fadeIn ease 2s;
  color: #FFFFFF;
  background-color: #141616;
}

.discord_info {
  opacity: 90%;
  animation: fadeIn ease 2s;
  text-align: center;
  color: #FFFFFF;
  background-color: #141616;
}

hr.rounded {
  border: 3px solid #ffbb00;
  opacity: 90%;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
