* {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.navbar, .header, .rules, .faq, .discord_info {
  padding: 1%;
  border-radius: 5px;
}

.navbar {
  opacity: 90%;
  animation: fadeIn ease 2s;
  color: #FFFFFF;
  background-color: #141616;
}

.header {
  opacity: 90%;
  animation: fadeIn ease 2s;
  color: #FFFFFF;
  background-color: #141616;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.90;
  }
}

li {
  display: inline;
  font-family: monospace;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h3, h4, a, p {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.rules {
  animation: fadeIn ease 2s;
  opacity: 90%;
  background-color: #141616;
}

.faq {
  opacity: 90%;
  animation: fadeIn ease 2s;
  color: #FFFFFF;
  background-color: #141616;
  padding-bottom: 81px
}

.discord_info {
  opacity: 90%;
  animation: fadeIn ease 2s;
  text-align: center;
  color: #FFFFFF;
  background-color: #141616;
}

hr.rounded {
  border: 3px solid #9c9c9c;
  opacity: 90%;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
